<ion-header>
  <ion-navbar color="balanced">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>หน้าแรก</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h1>Event - อีเว้นท์</h1>
  <ion-list *ngIf="items">
    <ion-item *ngFor="let item of items | async" (click)="select(item)">
      <ion-card>
        <img [src]="item.photo" width="180" height="200">
        <ion-card-content style="padding: 5px 5px 5px 5px;">
          <ion-item>
            <p>
              {{item.name}}
              <br>{{item.date}}
            </p>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>


  <button ion-button secondary (click)="logout()">LOG OUT</button>


</ion-content>
