<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>





  <ion-content padding>
    <ion-list *ngIf="items">
      <ion-item *ngFor="let item of items | async">
        <ion-card>
            <img [src]="item.photo" width="180" height="200">
          <ion-card-content>
            <ion-item>
            <p>
              <br>{{item.name}}
              <br>{{item.date}}
            </p>
          </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>


    <button ion-button secondary (click)="logout()">LOG OUT</button>
  </ion-content>
